.new-advert {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.new-advert > .new-advert__content {
    padding: 2rem;
    box-shadow: 2px 2px 5px #bbb;
    width: 30%;
}

.new-advert > .new-advert__content > h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.new-advert > .new-advert__content > .new-advert__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control__new-advert {
    margin: .5rem 0;
    justify-content: start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control__new-advert > label {
    margin: .5rem 0;
}

.new-advert__button {
    margin-top: 1.5rem;
}